{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - {{title}}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/post.css')}}" />
{% endblock %}

{% block body %}
<div class="mb-4">
    <div class="card">
        <div class="row">
            {% if post.file %}
                <div class="d-none d-lg-block col-md-4">
                    <img src="{{asset('uploads/posts/' ~ post.file)}}" class="img-fluid rounded-start" alt="{{post.title}}">
                </div>
            {% endif %}
            <div class="col">
                {% if post.file %}
                    <img src="{{asset('uploads/posts/' ~ post.file)}}" class="card-img-top d-block d-lg-none" alt="{{post.title}}">
                {% endif %}
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h4 class="card-title">
                                        {{post.title ~ ' - ' ~ post.type}}
                                        {% if not post.status %}
                                            <span class="badge bg-secondary fs-6">
                                                Deshabilitado                                        
                                            </span>
                                        {% endif %}
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <small class="text-muted">
                                        {{post.name ~ ' - '}}
                                        {% if post.update_date %}
                                            {{post.update_date|date('h:i A') ~ ' - Actualizado'}}
                                        {% else %}
                                            {{post.creation_date|date('h:i A')}}
                                        {% endif %}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <small class="text-muted d-flex my-0 py-0">
                                        <p>
                                            <div>
                                                <i class="fa-solid fa-thumbs-up" title="likes"></i>
                                                &nbsp;
                                            </div>
                                            <div id="likes">
                                                {{post.likes}} 
                                            </div>
                                        </p>
                                        &nbsp;
                                        &nbsp;
                                        <p>
                                            <div>
                                                <i class="fa-solid fa-thumbs-down" title='dislikes'></i>
                                                &nbsp;
                                            </div>
                                            <div id="dislikes">
                                                {{post.dislikes}} 
                                            </div>
                                        </p>
                                        &nbsp;
                                        &nbsp;
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and post.user_id == app.user.id %}
                                            <p>
                                                <div>
                                                    <i class="fa-sharp fa-solid fa-eye" title="vistas"></i>
                                                </div>
                                                <div>
                                                    &nbsp;
                                                    {{post.watched}}
                                                </div>
                                            </p>
                                        {% endif %}
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="col col-12 col-lg-5 pt-3 text-md-end text-center">
                                <div class="btn-group" role="group">
                                    {% if post.user_id == app.user.id %}
                                        {{form(modificar)}}
                                        {% if post.status %}
                                            <a href="{{path('remove_post', {id:post.id})}}" class="btn-danger btn mb-3">
                                                <i class="fa-solid fa-eye-slash"></i>
                                                &nbsp;
                                                Deshabilitar
                                            </a>
                                        {% else %}
                                            <a href="{{path('remove_post', {id:post.id})}}" class="btn-success btn">
                                                <i class="fa-sharp fa-solid fa-eye"></i>
                                                &nbsp;
                                                Activar                                        
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <button type="button" id="like"  class="btn btn-outline-{% if liked|length > 0 and liked[0]['like_post'] %}success{% else %}secondary {% endif %}" onClick="Megusta([{{post.id}},true])">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                            &nbsp;
                                            Me gusta
                                        </button>
                                        <button type="button" id="dislike"  class="btn btn-outline-{% if liked|length > 0 and liked[0]['like_post'] == false %}danger{% else %}secondary{% endif %}" onClick="Megusta([{{post.id}}])">
                                            <i class="fa-solid fa-thumbs-down"></i>
                                            &nbsp;
                                            No me gusta
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col">
                            <p class="card-text me-4">{{post.description}}</p>
                            <a href="{{path('new_post')}}" class="btn btn-light text-info mb-0">
                                <i class="fa-solid fa-arrow-left"></i>
                                &nbsp;
                                Volver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div>
                <a class="link-primary link-title" data-bs-toggle="collapse" href="#collapseNewPost" role="button" aria-expanded="false" aria-controls="collapseNewPost">
                    Comentar
                </a>
            </div>
            <div class="collapse" id="collapseNewPost">
                <hr/>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{form(form)}}
                {% else %}
                    <a href="{{path('app_login')}}" class="link-info">
                        Debe iniciar sesión para poder comentar.
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% for row in commentaries %}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col fs-6">
                        {{row.username}} dice:
                    </div>
                    <div class="col text-end text-muted"><small>{{row.creation_date|date('d/M/y h:i A')}}</small></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {{row.message}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <form action="{{path('comentary_delete')}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="hidden" name="id" value="{{row.id}}" />
                            <button type="submit" class="btn btn-light text-muted btn-sm">
                                <i class="fa-sharp fa-solid fa-trash"></i>
                                &nbsp;
                                Borrar
                            </button>
                        <form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card">
            <div class="card-body">
                Aún no hay ningún comentario, ¡sé el primero!
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{asset('js/ajax-call.js')}}"></script>
{% endblock %}